@model Web.ViewModels.StandardIndexViewModel
@{
    ViewBag.Title = "Facilities";
}
<div class="tray_main">
    <h2>Facility</h2>
    <p>
        @Html.ActionLink("Back To Home", "UserHome", "Standard", new { area = "" })
    </p>
    @*<table class="table-bordered">
        @foreach (var Facility in Model.Facilities)
        {
            <tr>
                <td>
                    @Html.ActionLink(Facility.Name, "Edit", "Facility", new { id = Facility.Id }) |
                </td>
            </tr>
        }
    </table>*@
    <br />
</div>