@model Web.ViewModels.StandardIndexViewModel
@{
    ViewBag.Title = "Facilities";
}
<div class="tray_main">
    <h2>Facility</h2>
    <table class="table-bordered">
        @Html.ActionLink("Back To Home", "FacilityList", "Facility")
        
        </p>
        <table class="table-bordered">
            @foreach (var item in Model.Facilities)
        {
            <tr>
                <td>
                    <a href="/Resource/ResourceListCount/@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                    
                </td>
            </tr>
        }
        </table>
        </table>
        <br />
</div>